<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>吃了么</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/dish.css' %}" rel="stylesheet">
    <link href="{% static 'css/fileinput.css' %}" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="http://api.map.baidu.com/getscript?v=3.0&ak=tdfjfQq8B4ETmpg93UMWGWrL8yprpI5Q"></script>
    <script src="{% static 'js/jquery.tmpl.js' %}"></script>
    <script src="{% static 'js/paginator.js' %}"></script>
    <script src="{% static 'js/locator.js' %}"></script>
    <script src="{% static 'js/dish.js' %}"></script>
    <script src="{% static 'js/fileinput.js' %}"></script>
</head>
<body style="background-image: url('{% static 'images/background.png' %}'); background-size: 100% 100%">
{% if not is_admin %}
    <div id="sidebar" class="sidebar d-flex flex-column">
        <div class="row" style="width: 530px;">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="total-price" value="总价：￥0" aria-label="TotalPrice" disabled>
                <div class="input-group-append">
                    <button id="submit-order" type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#confirm"
                            disabled>
                        下单
                    </button>
                </div>
            </div>
            {% if not login %}
                <div class="alert alert-danger" role="alert" style="width: 530px">请登录后下单</div>
            {% elif not shop_obj.serving %}
                <div class="alert alert-danger" role="alert" style="width: 530px">商家休息中</div>
            {% endif %}
            <a href="#" class="close-btn text-decoration-none"
               onclick="document.getElementById('sidebar').style.width = '0'">×</a>
        </div>
        <div class="flex-grow-1" style="width: 550px" id="card-list-container"></div>
    </div>
{% endif %}
<div class="card" id="shop-card">
    <img class="card-img-top" src="{% static 'images' %}/{{ shop_obj.image }}" alt="{{ shop_obj.name }}">
    <div class="card-body">
        <h5 class="card-title">{{ shop_obj.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ shop_obj.addr }}</h6>
        <p class="card-text">{{ shop_obj.desc }}</p>
        <p class="card-text text-muted text-right">电话号码：{{ shop_obj.phone }}</p>
        {% if not shop_obj.serving %}
            <p class="card-text text-right" style="font-weight: bold; color: red">商家休息中</p>
        {% endif %}
        <button class="btn btn-danger"
                onclick="document.getElementById('sidebar').style.width = '550px'">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart4" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
            </svg>
            购物车
        </button>
    </div>
</div>
<div class="container d-flex flex-column justify-content-between">
    {% include 'header.html' %}
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary">
            <input type="radio" name="order" id="price"> 消费最低
        </label>
        <label class="btn btn-outline-primary active">
            <input type="radio" name="order" id="sales" checked> 销量最高
        </label>
    </div>
    <span>&nbsp;</span>
    <div id="data-container"></div>
    <ul class="pagination justify-content-center"></ul>
</div>

<script id="data-template" type="text/x-jquery-tmpl">
    <div class="card mb-3">
        <div class="row no-gutters" >
            <div class="col-md-4"
               style="background-image: url('{% static 'images' %}/${image}'); background-position: center center; background-repeat: no-repeat; background-size: contain">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">${name}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">价格￥${price} 销量 ${sales}</h6>
                    <p class="card-text">${desc}</p>
                    {% if not is_admin %}
                    <button ${serving ? '' : 'disabled'} class="btn btn-primary" onclick="add_dish_to_card('${name}', ${dish_id}, '${image}', ${price})">
                        ${serving ? '加入购物车' : '暂时无货'}
                    </button>
                    {% else %}
                    <button class="btn btn-primary" data-toggle="modal" data-target="#dish-modal" id="${dish_id}">修改</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/javascript">
    shop_id = {{ shop_obj.id }};
</script>
</body>
{% if not is_admin %}
<script id="card-list-template" type="text/x-jquery-tmpl">
    <div class="card mb-3" style="width: 500px; margin: 0 auto">
        <img src="{% static 'images' %}/${image}" class="card-img" alt="${name}">
        <div class="card-body">
            <h5 class="card-title">${name}</h5>
            <p class="card-text">单价￥${price}</p>
            <div class="input-group">
                <div class="input-group-preappend">
                    <span class="input-group-text">数量</span>
                </div>
                <input id="dish-${dish_id}" type="number" class="form-control" value="${amount}" onchange="amount_change(${dish_id})">
            </div>
        </div>
    </div>
</script>
<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">确认订单</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="remarks" class="form-control" placeholder="订单备注" aria-label="Remarks"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="commit">确认</button>
            </div>
        </div>
    </div>
</div>
{% csrf_token %}
{% else %}
<div class="modal fade" id="dish-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">菜品信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="dish-form">
                    {% csrf_token %}
                    <input type="hidden" name="dish_id" id="dish-edit-id">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><span>菜名</span></div>
                            </div>
                            <input name="name" type="text" class="form-control" aria-label="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><span>价格</span></div>
                            </div>
                            <input name="price" type="number" class="form-control" aria-label="Price">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><span>描述</span></div>
                            </div>
                            <textarea name="desc" class="form-control" aria-label="Description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <form enctype="multipart/form-data">
                            <input name="image" class="file" type="file">
                        </form>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="dish-serving" checked="checked" aria-label="Serving">
                            <label class="custom-control-label" for="dish-serving">是否有货</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="dish-edit">确认</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div id="serving-wrapper" hidden>
    <input type="checkbox" id="serving-1" onchange="serving = $('#serving:checked').length === 1;load_dish();">
    <label for="serving">只显示有货的菜品</label>
</div>
</html>