<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>吃了么 - 登录</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        html, body {
            height: 100%;
        }

        .container {
            width: 30%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .input-group-prepend {
            width: 15%;
        }

        .input-group-text, button {
            width: 100%;
        }

        span {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text" id="label-username"><span>用户名</span></div>
        </div>
        <input type="text" class="form-control" aria-label="username" aria-describedby="label-username">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text" id="label-password"><span>密码</span></div>
        </div>
        <input type="text" class="form-control" aria-label="password" aria-describedby="label-password">
    </div>
    <div class="alert alert-danger" role="alert" id="alert" hidden></div>
    <button type="button" class="btn btn-primary btn-lg" id="login">登录</button>
</div>
</body>
</html>