<!DOCTYPE html>
{% load static %}
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>恰了吗 - 登录</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/login-register.css' %}" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/login-register.js' %}"></script>
</head>
<body style="background-image: url('{% static 'images/background.png' %}'); background-size: 100% 100%">
<div class="container">
    <a href="/">
        <img src="{% static 'images/logo.svg' %}" alt="logo" class="mb-3"
             style="width: 100%; height: auto; background-size: 100% 100%">
    </a>
    <form class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><span>用户名</span></div>
            </div>
            <input name="username" type="text" class="form-control" aria-label="Username" required>
            <div class="invalid-feedback">请输入用户名</div>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><span>密码</span></div>
            </div>
            <input name="password" type="password" class="form-control" aria-label="Password" required>
            <div class="invalid-feedback">请输入密码</div>
        </div>
        <div class="alert alert-danger mb-2" role="alert" id="err-msg" hidden></div>
        <button type="button" class="btn btn-primary btn-lg mb-2" id="login">登录</button>
        <p>还没有帐号？<a href="/register">立即注册</a></p>
    </form>
</div>
<script type="text/javascript">$(document).ready(() => setLoginRegister('login'));</script>
</body>
</html>