<!DOCTYPE html>
{% load static %}
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="http://api.map.baidu.com/getscript?v=3.0&ak=tdfjfQq8B4ETmpg93UMWGWrL8yprpI5Q"></script>
    <script src="{% static 'js/jquery.tmpl.js' %}"></script>
    <script src="{% static 'js/paginator.js' %}"></script>
    <script src="{% static 'js/locator.js' %}"></script>
    <script src="{% static 'js/shop.js' %}"></script>
</head>
<body>
<div class="container d-flex flex-column justify-content-between">
    {% include 'header.html' %}
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary">
            <input type="radio" name="order" id="dist"> 距离最近
        </label>
        <label class="btn btn-outline-primary active">
            <input type="radio" name="order" id="avg_price" checked> 消费最低
        </label>
        <label class="btn btn-outline-primary">
            <input type="radio" name="order" id="sales"> 销量最高
        </label>
    </div>
    <span>&nbsp;</span>
    <div class="flex-grow-1" id="data-container"></div>
    <ul class="pagination justify-content-center"></ul>
</div>
<script id="data-template" type="text/x-jquery-tmpl">
    <div class="card mb-3">
        <a class="row no-gutters stretched-link text-decoration-none" href="/shop/${shop_id}">
            <div class="col-md-4">
                <img src="{% static 'images' %}/${image}" class="card-img" alt="${name}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">${name}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">人均消费￥${avg_price} 销量 ${sales}</h6>
                    <p class="card-text">${desc}</p>
                    <p class="card-text">地址：${addr}</p>
                    <p class="card-text">电话号码：${phone}</p>
                    <p class="card-text">${serving ? '营业中' : '休息中'}</p>
                </div>
            </div>
        </a>
    </div>
</script>
</body>
{% csrf_token %}
</html>