<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>吃了么-店铺管理</title>
    {% include 'includes.html' %}
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <script type="text/javascript"
            src="http://api.map.baidu.com/getscript?v=3.0&ak=tdfjfQq8B4ETmpg93UMWGWrL8yprpI5Q"></script>
    <script src="{% static 'js/miscellaneous.js' %}"></script>
    <script src="{% static 'js/locator.js' %}"></script>
    <script src="{% static 'js/paginator.js' %}"></script>
    <script src="{% static 'js/shopInfo.js' %}"></script>
    <style>
        html,
        body,
        .container {
            height: 100%;
        }

        body {
            background-size: 100% 1000%;
            background-repeat: no-repeat;
        }

        .row {
            margin: 10px;
        }

        .btn-group {
            width: 100%;
        }

        .flex-grow-1 {
            overflow: scroll;
            scrollbar-width: none;
        }

        div::-webkit-scrollbar {
            width: 0;
        }
    </style>
</head>

<body>
<div class="container d-flex flex-column">
    <div class="row header mb-2">
        <a class="col-4" style="background-image: url('{% static 'images/logo.svg' %}')" href="/"></a>
        <div class="col-8">
            <div class="row">
                <div class="col-6">
                </div>
                <div class="col-6">
                    <div class="btn-group" role="group">
                        <a type="button" class="btn btn-secondary" id="logout">登出</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                </div>
                <div class="col-6">
                    <a type="button" class="btn btn-secondary" id="create-shop" style="width: 100%"
                       data-toggle="modal" data-target="#create-shop-modal">创建商铺</a>
                </div>
            </div>
        </div>
    </div>


    <div class="row" style="margin-top: 10px">
        <div class="col-12" id="shop-info-container">
            <!-- 模板填充区域 -->
        </div>
    </div>

    <div class="flex-grow-1" id="info-container"></div>
    <ul class="pagination justify-content-center"></ul>

</div>


<!-- 模板 -->
<script id="shop-info-template" type="text/x-jquery-tmpl">
    <div class="accordion" id="shop-${shop_id}" style="margin-top: 10px">
        <div class="card" >
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#shop-collapse-${shop_id}" aria-expanded="true">
                        商户ID: ${ shop_id } &nbsp;&nbsp;&nbsp;&nbsp; 商户名称: ${ name }
                    </button>
                </h2>
            </div>
            <div id="shop-collapse-${shop_id}" class="collapse show"
                 data-parent="#shop-${shop_id}">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="list-group" id="list-tab" role="tablist" style="margin-left: 0px">
                                <a class="list-group-item list-group-item-action active" href="#shop-list-${shop_id}"
                                   data-toggle="list" role="tab"
                                   aria-controls="home" id="${shop_id}-list-shop-list">商铺信息</a>
                                <a class="list-group-item list-group-item-action" href="#dish-list-${shop_id}"
                                   data-toggle="list" role="tab"
                                   onclick="load_dish_info(${shop_id})">菜品信息</a>
                                <a class="list-group-item list-group-item-action" href="#order-list-${shop_id}"
                                   data-toggle="list" role="tab"
                                   onclick="load_order_info(${shop_id})">订单处理</a>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" role="tabpanel"
                                     id="shop-list-${shop_id}">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="card-text"><b>商户名称:</b> ${ name }.</p>
                                            <p class="card-text"><b>商户说明:</b> ${ desc }.</p>
                                            <p class="card-text"><b>商户地址:</b> ${ addr }.</p>
                                            <p class="card-text"><b>商户电话号码:</b> ${ phone }.</p>
                                            <p class="card-text"><b>是否营业:</b> ${ serving }.</p>
                                            <img src="{% static 'images' %}/${image}" class="card-img" alt="${name}">
                                            <button type="button" class="btn btn-outline-info"
                                                    style="float: right;" data-toggle="modal"
                                                    data-target="#change-shop-modal" id="${shop_id}">修改
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="dish-list-${shop_id}">
                                     <div class="row" style="text-align: right;">
                                        <button type="button" class="btn btn-outline-info"
                                                data-toggle="modal"
                                                data-target="#create-dish-modal">新增菜品
                                        </button>
                                     </div>
                                     <div class="row" role="tabpanel" aria-labelledby="list-dish-list"
                                            id="dishes-container">
                                     </div>
                                </div>

                                <div class="tab-pane fade" id="order-list-${shop_id}">
                                     <div class="col-12" id="orders-container">
                                     </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</script>

<!--shop弹窗创建-->
<div class="modal fade" id="create-shop-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">创建商户</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="create-shop-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">商户名称:</label>
                        <input type="text" class="form-control" id="recipient-name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">商户说明:</label>
                        <textarea class="form-control" id="message-text" name="desc"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">商户地址:</label>
                        <input type="text" class="form-control" id="recipient-name" name="addr">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">商户电话号码:</label>
                        <input type="text" class="form-control" id="recipient-name" name="phone">
                    </div>


                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="shop-serving" checked="checked"
                                   aria-label="Serving">
                            <label class="custom-control-label" for="shop-serving">是否营业</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">商户图片:</label>
                        <input type="file" class="form-control" id="recipient-name" name="image"
                               data-show-upload="false"
                               data-show-preview="false" data-allowed-file-extensions='["jpg", "png", "svg"]'>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">确认</button>
            </div>
        </div>
    </div>
</div>

<!--shop弹窗修改-->
<div class="modal fade" id="change-shop-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">商户信息修改</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="change-shop-form">
                    {% csrf_token %}
                    <input type="hidden" name="shop_id" id="change-shop-edit-id">
                    <div class="form-group" id="change-shop-edit-id">
                        <label for="recipient-name" class="col-form-label">商户名称:</label>
                        <input type="text" class="form-control" id="recipient-name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">商户说明:</label>
                        <textarea class="form-control" id="message-text" name="desc"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">商户地址:</label>
                        <input type="text" class="form-control" id="recipient-name" name="addr">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">商户电话号码:</label>
                        <input type="text" class="form-control" id="recipient-name" name="phone">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="dish-serving" checked="checked"
                                   aria-label="Serving">
                            <label class="custom-control-label" for="dish-serving">是否营业</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">商户图片:</label>
                        <input type="file" class="form-control" id="recipient-name" name="image"
                               data-show-upload="false"
                               data-show-preview="false" data-allowed-file-extensions='["jpg", "png", "svg"]'>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="change-shop-edit" onclick="change_shop_info(${shop_id})">确认</button>
            </div>
        </div>
    </div>
</div>

<!-- 新增菜品弹窗 -->
<div class="modal fade" id="create-dish-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">菜品信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="dish_id" id="dish-edit-id">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><span>菜名</span></div>
                            </div>
                            <input name="name" type="text" class="form-control" placeholder="留空表示不修改"
                                   autocomplete="off" aria-label="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><span>价格</span></div>
                            </div>
                            <input name="price" type="number" class="form-control" placeholder="留空表示不修改"
                                   autocomplete="off" aria-label="Price">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><span>描述</span></div>
                            </div>
                            <textarea name="desc" class="form-control" placeholder="留空表示不修改" autocomplete="off"
                                      aria-label="Description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <input name="image" class="file" type="file" data-show-upload="false"
                               data-show-preview="false" data-allowed-file-extensions='["jpg", "png", "svg"]'>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="dish-serving" checked="checked"
                                   aria-label="Serving">
                            <label class="custom-control-label" for="dish-serving">是否有货</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="dish-edit">确认</button>
            </div>
        </div>
    </div>
</div>


<!--修改菜品-->

<div class="modal fade" id="change-dish-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">菜品信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="change-dish-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="dish_id" id="change-dish-edit-id">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><span>菜名</span></div>
                            </div>
                            <input name="name" type="text" class="form-control" placeholder="留空表示不修改"
                                   autocomplete="off" aria-label="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><span>价格</span></div>
                            </div>
                            <input name="price" type="number" class="form-control" placeholder="留空表示不修改"
                                   autocomplete="off" aria-label="Price">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><span>描述</span></div>
                            </div>
                            <textarea name="desc" class="form-control" placeholder="留空表示不修改" autocomplete="off"
                                      aria-label="Description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <input name="image" class="file" type="file" data-show-upload="false"
                               data-show-preview="false" data-allowed-file-extensions='["jpg", "png", "svg"]'>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="dish-serving" checked="checked"
                                   aria-label="Serving">
                            <label class="custom-control-label" for="dish-serving">是否有货</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="change-dish-edit">确认</button>
            </div>
        </div>
    </div>
</div>


<!--弹窗设置订单已送达-->
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderModalLabel">提示</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                确定设置订单为已送达吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <a type="button" class="btn btn-primary" href="#">确定</a>
            </div>
        </div>
    </div>
</div>


<script id="dishes-template" type="text/x-jquery-tmpl">
<div class="card-deck">
    <div class="card" style="margin-bottom: 10px; margin-top: 10px;">
        <img src="{% static 'images' %}/${image}" class="card-img" alt="${name}">
        <div class="card-body">
            <p class="card-text"><b>菜品名称:</b> ${ name }.</p>
            <p class="card-text"><b>菜品说明:</b> ${ desc }.</p>
            <p class="card-text"><b>菜品单价:</b> ${ price }.</p>
            <button class="btn btn-outline-info"
                style="float: right;" data-toggle="modal"
                data-target="#change-dish-modal" id="${dish_id}" shop-id="${shop_id}">修改
{#                 在触发modal的地方传入相应的id(id="${dish_id}")#}

            </button>
        </div>
    </div>
</div>
</script>

<script id="orders-template" type="text/x-jquery-tmpl">
    <div class="card" style="margin-bottom: 10px; margin-top: 10px;">
        <div class="card-header">
            <h5>有待处理订单</h5>
        </div>
        <div class="card-body" aria-labelledby="dishes-info-card">
            <p class="card-text"><b>用户名：</b>${ username }</p>
            <p class="card-text"><b>电话号码：</b>${ phone }</p>
            <p class="card-text"><b>所购菜品：</b>${ dishes }</p>
            <p class="card-text"><b>送达地址：</b>${ addr }</p>
            <p class="card-text"><b>订单备注：</b>${ remarks }</p>
            <p class="card-text"><b>下单时间：</b>${ tm_ordered }</p>
            <p class="card-text"><b>送达时间：</b>${ tm_finished }</p>
            <button type="button" class="btn btn-outline-info"
                    style="float: right;" data-toggle="modal"
                    data-target="#orderModal">设置为已送达
            </button>
        </div>
    </div>


</script>

</body>

</html>