<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../statics/assets/js/jquery-3.5.1.min.js"></script>
</head>
<body>

<style type="text/css">
    #banner,#banner img{position:relative;width:600px;height:290px;}
    #banner{margin:0 auto;}
    #banner img{position:absolute;top:0;left:0;filter:Alpha(opacity=100);opacity:1;}
</style>

<div id="banner">
    <img src="../statics/img/signUp_background_pic1.jpg" />
    <img src="../statics/img/signUp_background_pic2.jpg" />
    <img src="../statics/img/signUp_background_pic3.jpg" />
</div>

<script type="text/javascript">
    $(document).ready(function(){
        //每隔3秒执行一次图片切换函数
        window.setInterval("opChange()",3000);
    })
    function opChange(){
        var e_first=$("#banner img:first");
        var e_last=$("#banner img:last");
        e_first.animate({"filter":"Alpha(opacity=0)","opacity":"0"},function(){
            //第一个图片透明度变为0的时候，将它移动到最后
            e_first.insertAfter(e_last);
            //将最后一个图片的透明度恢复
            e_last.animate({"filter":"Alpha(opacity=100)","opacity":"1"});
        });
    }
</script>

</body>
</html>