{% load static %}
<link href="{% static 'css/header.css' %}" rel="stylesheet">
<script type="text/javascript"
        src="http://api.map.baidu.com/getscript?v=3.0&ak=tdfjfQq8B4ETmpg93UMWGWrL8yprpI5Q"></script>
<script src="{% static 'js/locator.js' %}"></script>
<script src="{% static 'js/miscellaneous.js' %}"></script>
<script src="{% static 'js/paginator.js' %}"></script>
<script src="{% static 'js/header.js' %}"></script>
<span>&nbsp;</span>
<button class="btn btn-lg btn-dark" onclick="document.body.scrollTop = 0;document.documentElement.scrollTop = 0"
        id="btn-top" data-toggle="tooltip" title="返回顶部">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor"
         xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"></path>
        <path fill-rule="evenodd"
              d="M7.646 2.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8 3.707 5.354 6.354a.5.5 0 1 1-.708-.708l3-3z"></path>
    </svg>
</button>
<div class="row header mb-2">
    <a class="col-4" style="background-image: url('{% static 'images/logo.svg' %}')" href="/"></a>
    <div class="col-8">
        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6">
                <div class="btn-group" role="group">
                    {% if login %}
                        <a class="btn btn-secondary" id="user-info">{{ username }}</a>
                        <script type="text/javascript">
                            default_lng = {{ loc_lng }};
                            default_lat = {{ loc_lat }};
                        </script>
                        <a type="button" class="btn btn-secondary" id="logout">登出</a>
                    {% else %}
                        <a type="button" class="btn btn-secondary" href="/register">注册</a>
                        <script type="text/javascript">
                            default_lng = undefined;
                        </script>
                        <a type="button" class="btn btn-secondary" href="/login">登录</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6">
                <div class="btn-group" role="group">
                    <a type="button" href="/" class="btn btn-secondary" id="logout">回到主页</a>
                    <a type="button" href="/shopInfo" class="btn btn-secondary">我的店铺</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="user-wrapper" hidden>
    <div class="card" style="width: 250px;">
        <div class="card-body">
            <h5 class="card-title">{{ ussername }}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">电话：{{ phone }}</li>
            <li class="list-group-item">地址：{{ addr }}</li>
        </ul>
        <div class="card-body">
            <a href="/viewOrders" class="card-link">查看订单</a>
            <a href="/shopInfo" class="card-link">我的店铺</a>
        </div>
    </div>
</div>
